<!-- ok -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofek Twitter | Index </title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
<header>
    <nav style="align-content: right;">
        <div class="div-logo"><img class="ofek-logo" src="../images/ofek.png"></div>
        <div class="div-title"><a href="index.html"><span class="title">Ofek Twitter</span></a></div>
        <ul>
            <li><a href="sign_in.html"><span class="links">Sign in</span></a></li>
            <li><a href="sign_up.html"><span class="links">Sign up</span></a></li>
            <li><a href="users.html"><span class="links">Users</span></a></li>
        </ul>
    </nav>
</header>
</body>

<div>
    <div>
        <form>
            <ul>
                <textarea id="message" class="header-li" rows="4" cols="80"></textarea>
                <button id="submit" class="header-li">publish</button>
            </ul>
        </form>
    </div>

    <div>
        <ul class="contactList">
            <li class="tweet">
                <section>
                    <img class="user-img" src="../images/useravatar.png">
                    <span class="">

                                <strong>oz</strong><br/>
                                    1
                            </span>
                </section>
            </li>
            <li class="tweet">
                <section>
                    <img class="user-img" src="../images/useravatar.png">
                    <span class="">

                                <strong>oz</strong><br/>
                                    2
                            </span>
                </section>
            </li>
            <li class="tweet">
                <section>


                    <img class="user-img" src="../images/useravatar.png">
                    <span class="">

                                <strong>oz</strong><br/>
                                    3
                            </span>
                </section>
            </li>
            <li class="tweet">
                <section>
                    <img class="user-img" src="../images/useravatar.png">
                    <span class="">

                                <strong>oz</strong><br/>
                                    4
                            </span>
                </section>
            </li>
            <li class="tweet">
                <section>
                    <img class="user-img" src="../images/useravatar.png">
                    <span class="">

                                <strong>oz</strong><br/>
                                    5
                            </span>
                </section>
            </li>
        </ul>
    </div>
</div>
</html>