<!DOCTYPE html>
<html>
<head>
	<title>OfekTwitter</title>
	<link rel='stylesheet' type='text/css' href='../css/bootstrap.css'/>
	<link rel='stylesheet' type='text/css' href='../css/style.css'/>

</head>
<body>
<header>
	<nav class="navbar  navbar-inverse">
		<ul class="nav navbar-nav">
			<li>
				<img src="../images/ofek.png"/>
			</li>
			<li>
				<a class="navbar-brand" href="../view/index.html">OfekTwitter</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item">
				<a class="nav-link" href='../view/sign_in.html'>Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='../view/sign_up.html'>Sign up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='../view/users.html'>Users</a>
			</li>
		</ul>
		<br class="clearFix"/>
	</nav>
</header>



<div class="ot-body">

	<div class="row">
		<div class="col-md-offset-2 col-md-3 col-md-offset-7">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="tweet text..." aria-label="tweet text...">
				<span class="input-group-btn">
		            <button class="btn btn-secondary" type="button">publish!</button>
		        </span>
			</div>
		</div>
	</div>


	<section class="tweets-section">
		<div class="row col-md-offset-1" >
			<div class="col-md-1">
				<img src="../images/useravatar.png"/>
			</div>
			<div class="tweet-username">
				<label> James Bond says:</label>
			</div>
			<div class="tweet-text">
				Blabla bla...
			</div>
		</div>
		<div class="row col-md-offset-1">
			<div class="col-md-1">
				<img src="../images/useravatar.png"/>
			</div>
			<div class="tweet-username">
				<label>James Bond says:</label>
			</div>
			<div class="tweet-text">
				Bond, James bond
			</div>
		</div>
		<div class="row col-md-offset-1">
			<div class="col-md-1">
				<img src="../images/useravatar.png"/>
			</div>
			<div class="tweet-username">
				<label>Albert Einstein says:</label>
			</div>
			<div class="tweet-text">
				E = mc^2
			</div>
		</div>
		<div class="row col-md-offset-1">
			<div class="col-md-1">
				<img src="../images/useravatar.png"/>
			</div>
			<div class="tweet-username">
				<label>Bill Gates says:</label>
			</div>
			<div class="tweet-text">
				I think 64 bytes should be enough for everyone
			</div>
		</div>
		<div class="row col-md-offset-1">
			<div class="col-md-1">
				<img src="../images/useravatar.png"/>
			</div>
			<div class="tweet-username">
				<label>Frodo says:</label>
			</div>
			<div class="tweet-text">
				My Precious
			</div>
		</div>
	</section>
</div>
</body>
</html>