<!-- ok -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofek Twitter | Sign Up </title>
    <link rel='stylesheet' type='text/css' href='../css/bootstrap.css'/>
    <link rel='stylesheet' type='text/css' href='../css/style.css'/>
</head>
<body>

<header>
    <nav class="navbar  navbar-inverse">
        <ul class="nav navbar-nav">
            <li>
                <img src="../images/ofek.png"/>
            </li>
            <li>
                <a class="navbar-brand" href="../view/index.html">OfekTwitter</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href='../view/sign_in.html'>Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='../view/sign_up.html'>Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='../view/users.html'>Users</a>
            </li>
        </ul>
        <br class="clearFix"/>
    </nav>
</header>

<div class="bigbox">
    <form id="sign_in">
        <div id="header">Sign Up </div>
        <div class="box">
            <div class="cell_sign_in">
                <label>Username</label>
                <input type="text" id="username" class="form-textline"/>
            </div>
            <div class="cell_sign_in">
                <label>Password</label>
                <input type="password" id="password" class="form-textline"/>
            </div>
            <div class="cell_sign_in">
                <label>Confirm <br> Password</label>
                <input type="password" id="confirm" class="form-textline"/>
            </div>
        </div>
        <input id="submit" class="button" value="Sign Up" type="submit">
    </form>
</div>

</body>
</html>