<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofek Twitter | Sign In </title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
<header>
    <nav style="align-content: right;">
        <div class="div-logo"><img class="ofek-logo" src="../images/ofek.png"></div>
        <div class="div-title"><a href="index.html"><span class="title">Ofek Twitter</span></a></div>
        <ul>
            <li><a href="sign_in.html"><span class="links">Sign in</span></a></li>
            <li><a href="sign_up.html"><span class="links">Sign up</span></a></li>
            <li><a href="users.html"><span class="links">Users</span></a></li>
        </ul>
    </nav>
</header>

<div class="bigbox">
    <form id="sign_in">
        <div id="header">Sign In </div>
        <div class="box">
            <div class="cell_sign_in">
                <label>Username</label>
                <input type="text" id="username" class="form-textline"/>
            </div>
            <div class="cell_sign_in">
                <label>Password</label>
                <input type="password" id="password" class="form-textline"/>
            </div>
        </div>
        <input id="submit" class="button" value="Sign In" type="submit">
    </form>
</div>
</body>
</html>