<!DOCTYPE html>
<html>
<head>
	<title>OfekTwitter | Users</title>
	<link rel='stylesheet' type='text/css' href='../css/bootstrap.css'/>
	<link rel='stylesheet' type='text/css' href='../css/style.css'/>
	<script src="../script/user.js"></script>
</head>
<body>
<header>
	<nav class="navbar  navbar-inverse">
		<ul class="nav navbar-nav">
			<li>
				<img src="../images/ofek.png"/>
			</li>
			<li>
				<a class="navbar-brand" href="../view/index.html">OfekTwitter</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item">
				<a class="nav-link" href='../view/sign_in.html'>Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='../view/sign_up.html'>Sign up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='../view/users.html'>Users</a>
			</li>
		</ul>
		<br class="clearFix"/>
	</nav>
</header>

	<div class="container">
		<div class="row help-block">
			<div class="col-lg-6 col-lg-offset-1 ">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Filter by user name"
					                   aria-label="Filter by user name...">
					<span class="input-group-btn">
		            <button class="btn btn-secondary" type="button">OK!</button>
		        </span>
				</div>
			</div>
		</div>

		<div class="row content">
			<div class="user-gallery  col-lg-offset-1 col-lg-8">
				<div class="row" id="unFollowersUserList">

				</div>
			</div>
			<div class="pull-right col-lg-3">
				<h2>Followees</h2>
				<div class="row" id="followersUserList">


				</div>
			</div>
		</div>
	</div>
</body>
</html>