<!DOCTYPE html>
<html>
<head>
	<title>OfekTwitter | Users</title>
	<link rel='stylesheet' type='text/css' href='../css/bootstrap.css'/>
	<link rel='stylesheet' type='text/css' href='../css/style.css'/>

</head>
<body>
<header>
	<nav class="navbar  navbar-inverse">
		<ul class="nav navbar-nav">
			<li>
				<img src="../images/ofek.png"/>
			</li>
			<li>
				<a class="navbar-brand" href="../view/index.html">OfekTwitter</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item">
				<a class="nav-link" href='../view/sign_in.html'>Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='../view/sign_up.html'>Sign up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='../view/users.html'>Users</a>
			</li>
		</ul>
		<br class="clearFix"/>
	</nav>
</header>

<div class="ot-body">
	<div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6 col-md-offset-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Filter by user name"
					                   aria-label="Filter by user name...">
					<span class="input-group-btn">
		            <button class="btn btn-secondary" type="button">OK!</button>
		        </span>
				</div>
			</div>
		</div>

		<div class="user-gallery pull-left">
			<div class="row">
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>follow</button>
					</div>
					<div class="user-cell-name">
						<p>Marty McFly</p>
					</div>
				</div>
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>follow</button>
					</div>
					<div class="user-cell-name">
						<p>James Bond</p>
					</div>
				</div>
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>unfollow</button>
					</div>
					<div class="user-cell-name">
						<p>Janis Joplin</p>
					</div>
				</div>
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>follow</button>
					</div>
					<div class="user-cell-name">
						<p>Mark Twain</p>
					</div>
				</div>
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>unfollow</button>
					</div>
					<div class="user-cell-name">
						<p>Albert Einstein</p>
					</div>
				</div>
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>follow</button>
					</div>
					<div class="user-cell-name">
						<p>Frodo</p>
					</div>
				</div>
				<div class="cell user-cell pull-left">
					<div class="user-avatar-img">
						<img src="../images/useravatar.png"/>
					</div>
					<div>
						<button>follow</button>
					</div>
					<div class="user-cell-name">
						<p>Bill Gates</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pull-right followees-list">
		<h2>Followees</h2>
		<div class="cell user-cell followee-cell">
			<div class="user-avatar-img">
				<img src="../images/useravatar.png"/>
			</div>
			<div>
				<button>unfollow</button>
			</div>
			<div class="user-cell-name">
				<p>Albert Einstein</p>
			</div>
		</div>
		<div class="cell user-cell followee-cell">
			<div class="user-avatar-img">
				<img src="../images/useravatar.png"/>
			</div>
			<div>
				<button>unfollow</button>
			</div>
			<div class="user-cell-name">
				<p>Janis Joplin</p>
			</div>
		</div>
	</div>
	<br class="clearFix"/>
</div>
</body>
</html>