<!-- ok -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofek Twitter | User </title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/users.css" />
</head>
<body>
<header>
    <nav>
        <div class="div-logo"><img class="ofek-logo" src="../images/ofek.png"></div>
        <div class="div-title"><a href="index.html"><span class="title">Ofek Twitter</span></a></div>
        <ul>
            <li><a href="sign_in.html"><span class="links">Sign in</span></a></li>
            <li><a href="sign_up.html"><span class="links">Sign up</span></a></li>
            <li><a href="users.html"><span class="links">Users</span></a></li>
        </ul>
    </nav>
</header>


    <div>
        <form>
            <div class="filter">
                <label> Filter by <input type="text" placeholder="user name"></label>
                <input type="submit" value="ok"/>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="boxes">
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0; padding-left: 0">
                    <span class="user-name">Oz Taizi</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">David Sapiro</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                   <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Kostya Dydoruk</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Ron david</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Yaron Shalom</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">shlomo Gal</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Omer Coen</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                   <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Nir Hen</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Reuven Oved</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Hen Mizrahi</span>
                </div>
            </div>
        </div>

        <div class="folowees" style="text-align:center;">
            <h4>Followees</h4>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Roy shaw</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">Rooney Wayne</span>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="../images/useravatar.png" class="user-pic">
                    <button>follow</button>
                </div>
                <div style="width: 100%; padding-right: 0%; padding-left: 0%">
                    <span class="user-name">loka Modric</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>