li img {
	margin: 15% 0 5px 0;
	display: inline-block;
	height:  35px;
	float: left;
}
.navbar-nav {
	margin: 0;
}
.navbar-inverse
{
	background-color: #0a64eb;
}
.navbar-inverse .navbar-nav > li > a
{
	color: #fff;
}

#tweets-section .row{
	margin-top: 2%;
}

.top-buffer{
	margin-top: 3%;
	margin-bottom: 5%;
}

.user-cell *
{
	margin-top: 3%;
	margin-bottom: 5px;
	text-align: center;
}

.user-cell
{
	border: 0.5px solid black;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
.frbox
{
	border: 0.5px solid black;
	border-radius: 5px;
	border-color: #0a64eb;
}

#header
{
	background-color: #0a64eb;
	color: #ffffff;
	font-size: 150%;
	margin-bottom: 2%;
}

.tweet-text , .tweet-username, .tweet-username-new
{
	padding-left:  0%;
}

.container button
{
	margin-left: 20%;
}



