/* ok */
body{
    font-family: Arial,Algerian;
}
#paload{
    width: 100%;
}

.filter{
    margin-top: 1%;
    margin-left: 8%;
}

.filter * {
    font-size: 1vw;
    display: inline-block;
}

.container{
    text-align: center;
}

.boxes, .folowees{
    display: inline-block;
    vertical-align: top;
}

.boxes{
    width: 70%;
}

.folowees{
    width: 15%;
    border-radius: 3px;
    border: 5px solid #e6e6e6;
    color: black;
    margin: auto;

}
.folowees h4{
    color: black;
    margin: 5% auto;
    font-size: 1.5vw;
}

.folowees div{
    width: 56%;
    margin: auto;
}

.boxes div{
    width: 12%;
    float: left;
}

.box{
    padding: 10px;
    border: 2px solid #e6e6e6;
    margin: 0.3%;
}

.box:hover:not(.active) {
    border: 2px solid silver;
}

.box div{
    width: 60%;
    padding-right: 20%;
    padding-left: 20%;
}

.box div img{
    margin: auto;
}

.box span{
    font-size: 1vw;
}

.box div img form{
    border-radius: 20%;
}

.user-pic{
    width: 100%;
}

.user-name{
    text-align: center;
}

.box form button{
    width: 100%;
}
